---
import BlogList from "~/components/blog/BlogList.astro"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import Layout from "~/layouts/default.astro"
import { getPosts } from "~/utils/blog"

const sortedPosts = await getPosts()
---

<Layout title="Blog" description="Blog posts and articles">
  <section>
    <Heading as="h1" size="2xl">Blog</Heading>
    <Paragraph secondary>
      My thoughts on web development, design, and technology. <a href="/rss.xml" class="link">Subscribe via RSS</a>.
    </Paragraph>

    {sortedPosts.length > 0
      ? (
        <BlogList posts={sortedPosts} />
      )
      : (
        <Paragraph secondary>
          No blog posts yet. Check back soon!
        </Paragraph>
      )}
  </section>
</Layout>
