*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  scroll-padding-top: calc(50px + 2rem);
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  overscroll-behavior-y: contain;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: var(--font-heading);
}

section:first-of-type {
  padding-block: 2rem;
}

section:last-of-type {
  padding-bottom: 0;
}

section > :is(h1, h2, h3, h4):first-child {
  margin-block: 0;

  + p {
    margin-block-start: 0.5rem;
  }
}

button {
  all: unset;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

ul {
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-heading);
}

/* Color Mode transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
