[data-theme="dark"] {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

:root {
  --shiki-light-bg: oklch(98% 0.003 240deg);
}

code {
  font: var(--font-code-inline);
  border-radius: 4px;
  padding: 0.1rem 0.2rem;
}

pre {
  background-color: var(--shiki-light-bg) !important;
  overflow-x: auto;
  border-radius: 10px;
  tab-size: 2;

  & code {
    display: grid;
    padding: 10px 0;
    font: var(--font-code-block);
    counter-reset: line;
    counter-increment: line 0;

    span.line {
      padding-inline: 0.5rem;
      border-left: 3px solid transparent;

      &::before {
        color: color-mix(in srgb, var(--color-foreground-muted) 70%, transparent);
        content: counter(line);
        counter-increment: line;
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
        text-align: right;
      }
    }
  }
}
