@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("/fonts/MPLUSRounded1c-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("/fonts/MPLUSRounded1c-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-heading: "M PLUS Rounded 1c", system-ui, sans-serif;
  --font-body: "Open Sans", system-ui, sans-serif;
  --font-code: "JetBrains Mono", monospace;

  --font-size-xs: clamp(0.75rem, 0.7rem + 0.2vi, 0.875rem);
  --font-size-sm: clamp(0.875rem, 0.8rem + 0.3vi, 1rem);
  --font-size-md: clamp(1rem, 0.9rem + 0.4vi, 1.125rem);
  --font-size-lg: clamp(1.125rem, 0.9rem + 0.9vi, 1.25rem);
  --font-size-xl: clamp(1.25rem, 0.75rem + 2vi, 1.5rem);
  --font-size-2xl: clamp(1.5rem, 1rem + 2vi, 2rem);
  --font-size-3xl: clamp(2rem, 1.5rem + 2vi, 2.5rem);
  --font-size-4xl: clamp(2.5rem, 2rem + 2vi, 3.5rem);

  --section-spacing: clamp(1.5rem, 1.25rem + 1vi, 2rem);

  --font-xs: var(--font-size-xs) / 1.5 var(--font-body);
  --font-sm: var(--font-size-sm) / 1.6 var(--font-body);
  --font-md: var(--font-size-md) / 1.6 var(--font-body);
  --font-lg: var(--font-size-lg) / 1.5 var(--font-body);
  --font-xl: var(--font-size-xl) / 1.4 var(--font-heading);
  --font-2xl: var(--font-size-2xl) / 1.3 var(--font-heading);
  --font-3xl: var(--font-size-3xl) / 1.2 var(--font-heading);
  --font-4xl: var(--font-size-4xl) / 1.1 var(--font-heading);
  --font-code-inline: 14px / 1.5 var(--font-code);
  --font-code-block: 14px / 1.6 var(--font-code);
}
