.prose {
  --heading-anchor-size: 0.8em;
  --heading-anchor-spacing: 0.5rem;

  & > *:last-child {
    margin-bottom: 0;
  }

  :is(h1, h2, h3, h4) {
    margin-top: var(--block-spacing);
    margin-bottom: 0;

    a {
      opacity: 0;
      transition: opacity 0.2s ease;
      padding-inline-start: var(--heading-anchor-spacing);

      &::after {
        content: "";
        display: inline-block;
        width: var(--heading-anchor-size);
        height: var(--heading-anchor-size);
        mask: url("/icons/link.svg") no-repeat center;
        mask-size: contain;
        background-color: currentColor;
        vertical-align: middle;
        margin-bottom: 0.25rem;
      }
    }

    &:hover a {
      opacity: 1;
    }

    @media (hover: none) {
      a {
        opacity: 1;
      }
    }
  }

  h1 {
    font: var(--font-2xl);
    font-weight: 700;
  }

  h2 {
    font: var(--font-xl);
    font-weight: 700;
  }

  h3 {
    font: var(--font-lg);
    font-weight: 500;
  }

  h4 {
    font: var(--font-md);
    font-weight: 500;
  }

  p {
    font: var(--font-md);
    margin-top: clamp(0.5rem, 1vi, 0.75rem);
    margin-bottom: 0;

    &:not(:is(h1, h2, h3, h4) + p) {
      margin-top: clamp(1rem, 2vi, 1.25rem);
    }
  }

  a {
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-color: var(--color-border);
    transition: text-decoration-color 0.2s ease;

    &:hover {
      text-decoration-color: var(--color-foreground);
    }
  }

  ul,
  ol {
    font: var(--font-md);
    margin-top: clamp(1rem, 2vi, 1.25rem);
    padding-left: 1.5rem;

    &:not(:is(h1, h2, h3, h4) + :is(ul, ol)) {
      margin-top: 0.75rem;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    font-size: 0.95em;
    margin-bottom: 0.6rem;
  }

  li > ul,
  li > ol {
    margin: 0.6rem 0;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
    margin-right: 0.1em;
  }

  blockquote {
    margin: clamp(1.25rem, 2vi, 1.75rem) 0;
    padding-left: 1rem;
    border-left: 3px solid var(--color-accent-foreground);

    & > p {
      font-weight: 500;
    }
  }

  table {
    display: block;
    max-width: fit-content;
    margin: 1rem 0;
    overflow-x: auto;
    border-collapse: collapse;
    white-space: nowrap;

    th,
    td {
      min-width: 75px;
    }

    th {
      text-align: left;
      padding: 0.4rem 0.8rem;
      border-bottom: 2px solid var(--color-border);
    }

    td {
      padding: 0.2rem 0.8rem;
    }

    tr {
      border-bottom: 1px solid var(--color-border-subtle);

      &:last-child {
        border-bottom: none;
      }
    }

    & > * {
      line-height: 2rem;
    }
  }

  hr {
    width: 100%;
    margin: 2rem auto;
    height: 1px;
    border: none;
    background-color: var(--color-border-subtle);
  }

  pre,
  table {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-foreground-muted);
      border-radius: 8px;
      border: 2px solid var(--color-background);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-foreground);
    }

    @supports (scrollbar-color: auto) {
      scrollbar-width: thin;
      scrollbar-color: var(--color-foreground-muted) var(--color-background);
    }
  }

  img {
    max-width: 100%;
    border-radius: 6px;
    content-visibility: auto;
  }

  img[alt="cover"] {
    box-shadow: var(--shadow-card);
  }

  .katex-display {
    font: var(--font-md);
  }

  .katex {
    color: var(--color-foreground);
    font-size: 1.1em;
  }
}
