.prose {
  & > *:last-child {
    margin-bottom: 0;
  }

  :is(h1, h2, h3, h4) {
    margin-top: 1.75rem;
    margin-bottom: 0;
  }

  h1 {
    font: var(--font-2xl);
    font-weight: 700;
  }

  h2 {
    font: var(--font-xl);
    font-weight: 700;
  }

  h3 {
    font: var(--font-lg);
    font-weight: 500;
  }

  h4 {
    font: var(--font-md);
    font-weight: 500;
  }

  p {
    font: var(--font-sm);
    margin-top: 0.5rem;
  }

  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    font: var(--font-sm);
    margin-bottom: 0.5rem;
  }

  li > ul,
  li > ol {
    margin: 0.5rem 0;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
