---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<body class:list={["app", className]}>
  <slot />
</body>

<style>
.app {
  width: 100%;
  max-width: 58rem;
  min-height: 100dvh;
  margin-inline: auto;
  padding-top: calc(50px + 1rem);
  display: grid;
  grid-template-rows: 1fr max-content;
  border-inline: 1px solid var(--color-separator);

  @media (max-width: 768px) {
    border-inline: none;
  }

  main {
    min-width: 0;
  }
}
</style>
