---
import Container from "../common/Container.astro"
import SocialLinks from "../SocialLinks.astro"
---

<footer class="footer" transition:name="footer">
  <Container>
    <div class="content">
      <p class="copyright">© Sothearo 2025</p>
      <SocialLinks />
    </div>
  </Container>
</footer>

<style>
  .footer {
    padding-top: 5rem;
    padding-bottom: 2.5rem;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      font: var(--font-sm);
      color: var(--color-foreground-muted);
      margin-block: 0;
    }
  }
</style>
