---
import { ClientRouter } from "astro:transitions"
import "~/styles/base.css"
import "~/styles/colors.css"
import "~/styles/fonts.css"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#ffffff" />

  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <script is:inline>
    function setTheme(document) {
      const theme = localStorage.getItem("theme")
      const isDark = theme === "dark" || (theme !== "light" && window.matchMedia("(prefers-color-scheme: dark)").matches)

      if (isDark) {
        document.documentElement.setAttribute("data-theme", "dark")
        document.querySelector("meta[name=\"theme-color\"]")?.setAttribute("content", "#1a1a1a")
      }
      else {
        document.documentElement.removeAttribute("data-theme")
        document.querySelector("meta[name=\"theme-color\"]")?.setAttribute("content", "#ffffff")
      }
    }

    setTheme(document)

    document.addEventListener("astro:before-swap", (event) => {
      setTheme(event.newDocument)
    })
  </script>

  <ClientRouter fallback="swap" />
</head>
