---
import Default from "~/layouts/default.astro"
---

<Default title="About - My Portfolio" description="Learn more about me and my background">
  <h1>About</h1>
  <p>Hi! I'm a developer passionate about creating amazing web experiences.</p>
</Default>
