---
import Default from "~/layouts/default.astro"
---

<Default title="Blog - My Portfolio" description="Blog posts and articles">
  <h1>Blog</h1>
  <p>Coming soon! This is where I'll share my thoughts and experiences.</p>
</Default>

