---
import Layout from "../layouts/Default.astro"
---

<Layout title="Home" description="Welcome to my portfolio">
  <h1>Welcome to My Portfolio</h1>
  <p>This is the home page content!</p>
</Layout>
