---
import Heading from "~/components/common/Heading.astro"
import MangaList from "~/components/manga/MangaList.astro"
import { mangaList } from "~/data/manga"
import Layout from "~/layouts/default.astro"
---

<Layout title="Manga" description="My favorite manga collection">
  <section>
    <Heading as="h1" size="2xl">My Favorite Manga</Heading>
    <p class="description">
      Here are some of my favorite manga series.
    </p>

    <MangaList {mangaList} />
  </section>
</Layout>

<style>
.description {
  font: var(--font-sm);
  color: var(--color-foreground-muted);
  margin-block-end: 0;
}
</style>

