---
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import MangaList from "~/components/manga/MangaList.astro"
import { mangaList } from "~/data/manga"
import Layout from "~/layouts/default.astro"
---

<Layout
  title="Favorite Manga"
  description="A curated collection of my favorite manga series and recommendations"
  includeScripts
>
  <section>
    <Heading as="h1" size="2xl">My Favorite Manga</Heading>
    <Paragraph secondary>
      Here are some of my favorite manga series.
    </Paragraph>

    <MangaList {mangaList} />
  </section>
</Layout>
