---
import Heading from "~/components/common/Heading.astro"
import Layout from "~/layouts/default.astro"
---

<Layout title="Projects" description="My portfolio of projects and work">
  <section>
    <Heading as="h1" size="2xl">Projects</Heading>
    <p>Here are some of the projects I've worked on.</p>
  </section>
</Layout>
