---
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import Layout from "~/layouts/default.astro"
---

<Layout title="Projects" description="My portfolio of projects and work">
  <section>
    <Heading as="h1" size="2xl">Projects</Heading>
    <Paragraph secondary>
      Here are some of the projects I've worked on.
    </Paragraph>
  </section>
</Layout>
