---
import Default from "~/layouts/Default.astro"
---

<Default title="Projects - My Portfolio" description="My portfolio of projects and work">
  <h1>Projects</h1>
  <p>Here are some of the projects I've worked on.</p>
</Default>
