---
import MoonIcon from "~/icons/moon.svg"
import SunIcon from "~/icons/sun.svg"
import Hidden from "./common/Hidden.astro"
---

<button id="theme-toggle" class="icon-button theme-toggle" aria-label="Toggle theme">
  <SunIcon class="icon sun" />
  <MoonIcon class="icon moon" />
  <Hidden>
    Switch Colorscheme
  </Hidden>
</button>

<script>
  import "~/scripts/theme-toggle.ts"
</script>

<style>
  .theme-toggle {
    .icon {
      &.sun {
        display: block;
      }

      &.moon {
        display: none;
      }
    }
  }

  :global([data-theme="dark"]) .theme-toggle {
    .icon {
      &.sun {
        display: none;
      }

      &.moon {
        display: block;
      }
    }
  }
</style>
