---
import Container from "~/components/common/Container.astro"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"

interface Props {
  id: string
  title: string
  description: string
}

const { id, title, description } = Astro.props
---

<article class="break-container">
  <a class="card" href={`/blog/${id}`}>
    <Container class="content">
      <div class="info">
        <Heading as="h3" size="lg" class="heading" reset>{title}</Heading>
        <Paragraph secondary size="sm" lineClamp={2}>
          {description}
        </Paragraph>
      </div>
    </Container>
  </a>
</article>

<style>
  article {
    .card {
      position: relative;
      display: block;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        display: block;
        background: var(--color-separator);
        z-index: -1;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & :global(.content) {
        padding-block: calc(var(--block-spacing) * 0.75);
      }

      p {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      @media (hover: hover) {
        &:hover {
          & :global(.heading) {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }

    &:first-child .card {
      .content {
        padding-top: 0;
      }

      &::before {
        display: none;
      }
    }

    &:last-child .card {
      .content {
        padding-bottom: 0;
      }

      &::after {
        display: none;
      }
    }
  }
</style>
