---
import Date from "~/components/common/Date.astro"
import Heading from "~/components/common/Heading.astro"

interface Props {
  id: string
  title: string
  publishedAt: Date
}

const { id, title, publishedAt } = Astro.props
---

<article>
  <a class="card" href={`/blog/${id}`}>
    <div class="content">
      <div class="info">
        <Heading as="h3" size="lg" class="heading" reset>{title}</Heading>
        <Date date={publishedAt} />
      </div>
    </div>
  </a>
</article>

<style>
  article {
    .card {
      position: relative;
      display: block;

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & :global(.date) {
          font: var(--font-sm);
        }
      }

      & :global(.heading) {
        margin-bottom: 0;
      }

      @media (hover: hover) {
        &:hover {
          & :global(.heading) {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }
</style>
