---
import type { CollectionEntry } from "astro:content"
import BlogCard from "./BlogCard.astro"
import BlogSortFilter from "./BlogSortFilter.svelte"
import BlogTagFilter from "./BlogTagFilter.astro"

interface Props {
  posts: (CollectionEntry<"blog"> & { readingTime: string })[]
  currentTag?: string
}

const { posts, currentTag } = Astro.props
---

<div class="filters">
  {currentTag ? <BlogTagFilter {currentTag} /> : <div></div>}
  <BlogSortFilter client:idle />
</div>

<ul class="posts" id="posts-container">
  {posts.map(post => (
    <li data-date={post.data.publishedAt.toISOString()}>
      <BlogCard {post} />
    </li>
  ))}
</ul>

<style>
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: var(--block-spacing);
  }

  .posts {
    display: flex;
    flex-direction: column;

    & li:not(:last-child) {
      border-bottom: 1px solid var(--color-separator);
      padding-bottom: calc(var(--block-spacing) * 0.85);
      margin-bottom: calc(var(--block-spacing) * 0.85);
    }
  }
</style>
