---
import type { CollectionEntry } from "astro:content"
import Separator from "~/components/common/Separator.astro"
import BlogCard from "./BlogCard.astro"
import BlogSortFilter from "./BlogSortFilter.svelte"
import BlogTagFilter from "./BlogTagFilter.astro"

interface Props {
  posts: (CollectionEntry<"blog"> & { readingTime: string })[]
  currentTag?: string
}

const { posts, currentTag } = Astro.props
---

<div class="filters">
  {currentTag ? <BlogTagFilter currentTag={currentTag} /> : <div></div>}
  <BlogSortFilter client:idle />
</div>

<ul class="posts" id="posts-container">
  {posts.map((post, idx) => (
    <li data-date={post.data.publishedAt.toISOString()}>
      <BlogCard {post} />
      {idx < posts.length - 1 && <Separator />}
    </li>
  ))}
</ul>

<style>
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: var(--block-spacing);
  }

  .posts {
    display: flex;
    flex-direction: column;

    & .separator {
      margin-block: var(--block-spacing);
    }
  }
</style>
