---
import type { HTMLAttributes } from "astro/types"

export interface Props extends HTMLAttributes<"p"> {
  secondary?: boolean
  size?: "xs" | "sm" | "md"
  reset?: boolean
  lineClamp?: number
}

const { secondary = false, size = "md", class: className, reset = false, lineClamp, ...attrs } = Astro.props
---

<p
  class:list={["paragraph", className, size, { secondary, reset, "line-clamp": lineClamp }]}
  style={lineClamp ? `--line-clamp: ${lineClamp}` : undefined}
  {...attrs}
>
  <slot />
</p>

<style>
.paragraph {
  &.xs {
    font: var(--font-xs);
  }

  &.sm {
    font: var(--font-sm);
  }

  &.md {
    font: var(--font-md);
  }

  &.secondary {
    color: var(--color-foreground-muted);
  }

  &.reset {
    margin-block: 0;
  }

  &.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
