---
import type { HTMLAttributes } from "astro/types"

export interface Props extends HTMLAttributes<"p"> {
  secondary?: boolean
  size?: "sm" | "md"
}

const { secondary = false, size = "md", class: className, ...attrs } = Astro.props
---

<p class:list={["paragraph", className, size, { secondary }]} {...attrs}>
  <slot />
</p>

<style>
.paragraph {
  &.sm {
    font: var(--font-sm);
  }

  &.md {
    font: var(--font-md);
  }

  &.secondary {
    color: var(--color-foreground-muted);
  }
}
</style>
