---

---

<div class="scroll-blur" aria-hidden="true"></div>

<style>
  .scroll-blur {
    width: 100%;
    max-width: 56rem;
    margin-inline: auto;
    pointer-events: none;
    padding-inline: var(--inline-spacing);
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: 4rem;
    background: linear-gradient(to bottom, transparent, var(--color-background));
  }
</style>

