---
import type { CollectionEntry } from "astro:content"
import BlogList from "~/components/blog/BlogList.astro"
import Heading from "~/components/common/Heading.astro"
import Paragraph from "~/components/common/Paragraph.astro"
import Layout from "~/layouts/default.astro"

interface Props {
  posts: (CollectionEntry<"blog"> & { readingTime: string })[]
  currentTag?: string
}

const { posts, currentTag } = Astro.props
---

<Layout title="Blog Posts" description="My thoughts on web development, technology, books, and life philosophy. Code by day, manga by night.">
  <section>
    <Heading as="h1" size="2xl">Blog</Heading>
    <Paragraph secondary>
      My thoughts on web development, technology, books, and life philosophy. <a href="/rss.xml" class="link">Subscribe via RSS</a>.
    </Paragraph>

    {posts.length > 0
      ? (
        <BlogList posts={posts} currentTag={currentTag} />
      )
      : (
        <Paragraph secondary>
          {currentTag
            ? `No blog posts found with tag "${currentTag}".`
            : "No blog posts yet. Check back soon!"}
        </Paragraph>
      )}
  </section>
</Layout>
