---
import Body from "~/components/app/Body.astro"
import Footer from "~/components/app/Footer.astro"
import Head from "~/components/app/Head.astro"
import Header from "~/components/app/Header.astro"
import Scripts from "~/components/app/Scripts.astro"
import CommandPalette from "~/components/CommandPalette.svelte"
import Container from "~/components/common/Container.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="en" transition:name="root">
  <Head {title} {description} />
  <Body>
    <Header />
    <Container as="main" transition:animate="fade">
      <slot />
    </Container>
    <Footer />
    <CommandPalette client:only="svelte" />
    <Scripts />
  </Body>
</html>
