---
import Analytics from "@vercel/analytics/astro"
import Footer from "~/components/app/Footer.astro"
import Head from "~/components/app/Head.astro"
import Header from "~/components/app/Header.astro"
import Container from "~/components/common/Container.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="en" transition:name="root">
  <Head {title} {description} />
  <body class="app">
    <Header />
    <Container as="main" transition:animate="fade">
      <slot />
    </Container>
    <Footer />
    <Analytics />
  </body>
</html>

<style>
.app {
  width: 100%;
  max-width: 58rem;
  min-height: 100dvh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  border-inline: 1px solid color-mix(in srgb, var(--color-border) 40%, transparent);

  @media (max-width: 768px) {
    border-inline: none;
  }
}
</style>
